# Short Term Rentals - Exploratory Data Analysis

We're going to work with a short term rentals dataset that we got from [InsideAirbnb](http://insideairbnb.com/). We'll be using Neo4j via the popular py2neo library.

We'll start by importing py2neo and the pandas library which we'll be using to play around with the data later on.

In [1]:
from py2neo import Graph
import pandas as pd

In [2]:
graph = Graph("bolt://localhost", auth=("neo4j", "neo"))

Let's create some variables for our import CSV files:

In [3]:
listings_file = "http://guides.neo4j.com/listings/data/listings.csv"
reviews_file = "http://guides.neo4j.com/listings/data/reviews.csv"

Now it's time to load the data into Neo4j.

## Listings

In [4]:
constraint_query = """
CREATE CONSTRAINT ON (l:Listing)
ASSERT l.id IS UNIQUE
"""

import_query = """
LOAD CSV WITH HEADERS FROM $listingsFile AS row
WITH row WHERE row.id IS NOT NULL
MERGE (l:Listing {id: row.id})
SET l.name = row.name,
    l.price = toFloat(substring(row.price, 1)),
    l.weeklyPrice = toFloat(substring(row.weekly_price, 1)),
    l.cleaningFee = toFloat(substring(row.cleaning_fee, 1)),
    l.propertyType = row.property_type,
    l.accommodates = toInt(row.accommodates),
    l.bedrooms = toInt(row.bedrooms),
    l.bathrooms = toInt(row.bathrooms),
    l.availability365 = toInt(row.availability_365)
"""

graph.run(constraint_query).summary().counters
graph.run(import_query, {"listingsFile": listings_file}).summary().counters

{'labels_added': 5835, 'nodes_created': 5835, 'properties_set': 51276}

## Neighborhoods

In [5]:
constraint_query = """
CREATE CONSTRAINT ON (n:Neighborhood) 
ASSERT n.id IS UNIQUE
"""

import_query = """
LOAD CSV WITH HEADERS FROM $listingsFile AS row
WITH row WHERE row.id IS NOT NULL
MATCH (l:Listing {id: row.id})
MERGE (n:Neighborhood {id: coalesce(row.neighbourhood_cleansed, "NA")})
ON CREATE SET n.name = row.neighbourhood
MERGE (l)-[:IN_NEIGHBORHOOD]->(n);
"""

graph.run(constraint_query).summary().counters
graph.run(import_query, {"listingsFile": listings_file}).summary().counters

{'labels_added': 41, 'relationships_created': 5835, 'nodes_created': 41, 'properties_set': 66}

## Amenities

In [6]:
constraint_query = """
CREATE CONSTRAINT ON (a:Amenity) 
ASSERT a.name IS UNIQUE;
"""

import_query = """
LOAD CSV WITH HEADERS FROM $listingsFile AS row
WITH row WHERE row.id IS NOT NULL
MATCH (l:Listing {id: row.id})
WITH l, split(replace(replace(replace(row.amenities, '{', ''), '}', ''), '\"', ''), ',') AS amenities
UNWIND amenities AS amenity
MERGE (a:Amenity {name: amenity})
MERGE (l)-[:HAS]->(a)
"""

graph.run(constraint_query).summary().counters
graph.run(import_query, {"listingsFile": listings_file}).summary().counters

{'labels_added': 42, 'relationships_created': 82561, 'nodes_created': 42, 'properties_set': 42}

## Hosts

In [7]:
constraint_query = """
CREATE CONSTRAINT ON (h:Host) 
ASSERT h.id IS UNIQUE
"""

import_query = """
LOAD CSV WITH HEADERS FROM $listingsFile AS row
WITH row WHERE row.host_id IS NOT NULL
MERGE (h:Host {id: row.host_id})
ON CREATE SET h.name      = row.host_name,
              h.about     = row.host_abot,
              h.superhost = CASE WHEN row.host_is_super_host = "t" THEN True ELSE False END,
              h.location  = row.host_location,
              h.image     = row.host_picture_url
WITH row, h
MATCH (l:Listing {id: row.id})
MERGE (h)-[:HOSTS]->(l);
"""

graph.run(constraint_query)
graph.run(import_query, {"listingsFile": listings_file}).summary().counters

{'labels_added': 4633, 'relationships_created': 5835, 'nodes_created': 4633, 'properties_set': 23113}

## Reviews

In [13]:
user_constraint_query = """
CREATE CONSTRAINT ON (u:User) 
ASSERT u.id IS UNIQUE
"""

review_constraint_query = """
CREATE CONSTRAINT ON (r:Review) 
ASSERT r.id IS UNIQUE
"""


import_query = """
USING PERIODIC COMMIT 10000
LOAD CSV WITH HEADERS FROM $reviewsFile AS row

// User
MERGE (u:User {id: row.reviewer_id})
SET u.name = row.reviewer_name

// Review
MERGE (r:Review {id: row.id})
SET r.date     = row.date,
    r.comments = row.comments
WITH row, u, r
MATCH (l:Listing {id: row.listing_id})
MERGE (u)-[:WROTE]->(r)
MERGE (r)-[:REVIEWS]->(l);
"""

graph.run(user_constraint_query).summary().counters
graph.run(review_constraint_query).summary().counters
graph.run(import_query, {"reviewsFile": reviews_file}).summary().counters

{'properties_set': 188928}

Let's see what we've imported. Run the following query to check how many nodes our database contains:

In [14]:
query = """
MATCH () 
RETURN COUNT(*) AS nodeCount
"""

graph.run(query).to_data_frame()

   nodeCount
0     129444

Let's drill down a bit. What types of nodes do we have?

In [15]:
result = {"label": [], "count": []}
for label in graph.run("CALL db.labels()").to_series():
    query = f"MATCH (:`{label}`) RETURN count(*) as count"
    count = graph.run(query).to_data_frame().iloc[0]['count']
    result["label"].append(label)
    result["count"].append(count)
pd.DataFrame(data=result).sort_values("count")

          label  count
1  Neighborhood     41
2       Amenity     42
3          Host   4633
0       Listing   5835
4          User  55917
5        Review  62976

And what types of relationships?

In [17]:
result = {"relType": [], "count": []}
for relationship_type in graph.run("CALL db.relationshipTypes()").to_series():
    query = f"MATCH ()-[:`{relationship_type}`]->() RETURN count(*) as count"
    count = graph.run(query).to_data_frame().iloc[0]['count']
    result["relType"].append(relationship_type)
    result["count"].append(count)
pd.DataFrame(data=result).sort_values("count")

           relType  count
0  IN_NEIGHBORHOOD   5835
2            HOSTS   5835
3            WROTE  62976
4          REVIEWS  62976
1              HAS  82561

Now let's explore the neighborhood data:

In [18]:
exploratory_query = """
MATCH (n:Neighborhood)<-[:IN_NEIGHBORHOOD]-(l:Listing)-[:HAS]->(a:Amenity) 
RETURN n.name AS neighborhood, l.name AS name, collect(a.name) AS amenities, l.price AS price 
LIMIT 25
"""

graph.run(exploratory_query).to_data_frame()

,amenities,name,neighborhood,price
0,"[Pets live on this property, Free Parking on P...",Private Master Suite with king bed,None,115.0
1,"[Air Conditioning, Wireless Internet, Internet...",In the thick of it all: DT Austin!,None,129.0
2,"[Shampoo, Dryer, Washer, Heating, Cat(s), Pets...",Austin *East Side* modern home,None,750.0
3,"[Suitable for Events, Other pet(s), Cat(s), Pe...",Camp EZ in SxSAustin7,None,14.0
4,"[Internet, TV, Washer / Dryer, Gym, Pets live ...",SXSW Rental! 10 min from it all!,Oak Hill,300.0
5,"[Washer, Dryer, Wireless Internet, Cable TV, K...",Beautiful room in south Austin,None,350.0
6,"[Air Conditioning, Free Parking on Premises, P...",SoCo Loft style apartment,None,99.0
7,[],COZY little place ;),Hancock,35.0
8,"[Cable TV, Internet, TV, Shampoo, Essentials, ...",Private Room + Bath Near Downtown,None,40.0
9,"[Kitchen, Free Parking on Premises, Gym, Eleva...",ACL weekend 2 - apt close to Zilker,None,200.0
10,"[Pool, Kitchen, Wireless Internet, Air Conditi...",Cute 2BD Condo South of Downtown,None,155.0
11,"[Kitchen, Free Parking on Premises, Heating, T...",SXSW Walk to Downtown. 2br Apt.,None,650.0
12,"[Dryer, Washer, Family/Kid Friendly, Heating, ...",Bright Open House Ready For ACL,None,499.0
13,"[Shampoo, Carbon Monoxide Detector, Internet, ...",Perfect for ACL. Walk everywhere!,Clarksville,190.0
14,"[Kitchen, Free Parking on Premises, Gym, Break...",Fold Out Couch Near Domain,None,27.0
15,"[First Aid Kit, Carbon Monoxide Detector, Smok...",New Central Austin 3BR Townhouse,Mueller,150.0
16,"[Cable TV, TV, Wireless Internet, Internet, Ki...",3BR/2BA Majestic TX Music Retreat,None,250.0
17,"[Wireless Internet, Internet, TV, Air Conditio...",vintage/modern house in east austin,None,250.0
18,"[Shampoo, Smoke Detector, First Aid Kit, Fire ...",The Westrock 3/2 in Barton Hills!,None,316.0
19,"[Shampoo, Essentials, Wireless Internet, Air C...",Metropolis Apartment,East Riverside,129.0
20,"[Dryer, Washer, Heating, Indoor Fireplace, Bre...",Master Bed & Bath 10mins 2 Downtown,St. Johns,75.0
21,"[Family/Kid Friendly, Heating, Dryer, Washer, ...",DOWNTOWN AUSTIN-ACL-SXSW-FOR1-XGAME,Clarksville,119.0
22,"[Fire Extinguisher, Safety Card, Shampoo, Esse...","Beautiful Rm, yard, hardwood home!",St. Johns,49.0
23,"[TV, Cable TV, Internet, Wireless Internet, Ai...",Luxury Living in Central ATX,Downtown,229.0
24,"[Free Parking on Premises, Gym, Pool, Kitchen,...",Downtown Luxury for SXSW!!!,Downtown,720.0

What are the most expensive places to live?

In [4]:
query = """
MATCH (l:Listing)-[:IN_NEIGHBORHOOD]->(n:Neighborhood)
WITH n, avg(l.price) AS averagePrice
RETURN n.id AS zip, n.name AS neighborhood, averagePrice
"""

(graph.run(query).to_data_frame()
 .sort_values("averagePrice", ascending=False)
 .head(10))

    averagePrice     neighborhood    zip
29    391.473684    Steiner Ranch  78732
6     316.593939     Barton Hills  78746
7     299.970822      Clarksville  78703
25    273.533333             None  78725
2     266.297720             None  78704
9     265.039370             None  78702
16    258.250000             None  78734
30    257.252427  Northwest Hills  78731
36    251.645833         Downtown  78701
11    240.000000         Oak Hill  78735